.add-checkbox input[type=checkbox]+label {
    margin-bottom: 10px;
    margin-left: 388px;
}


.add-aselect .ant-select-selection--single {
    height: 48px;
}

.add-aselect .ant-select-selection--single .ant-select-selection__rendered {
    line-height: 48px;
}

.ant-input {
    height: 48px;
}